<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonModeule" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Python\Python36-32\Python.exe|&quot;C:\Program Files (x86)\Python\Python36-32\lib\site-packages\wfastcgi-3.0.0-py3.6.egg\wfastcgi.py&quot;" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
